body {
    background-color: lightcoral;
}

.question1container-cover {
    position: relative;
    margin-left: 590px;
    display: flex;
    flex: 1;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    max-width: 40rem;
}

.question1container {
    display: flex;
    justify-content: center;
    font-family: "Indie Flower", sans-serif;
    font-size: 20px;
    text-align: center;
    text-wrap: normal;
    border-radius: 10px;
    -webkit-text-fill-color: black;
}

.hrclass {
    color: black;
    width: 100%;
    margin-top: -30px;
    align-content: center;
    justify-content: center;
    outline: black;
}

.leftcontainer-cover {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    width: 15rem;
    margin-top: -180px;
}

.leftcontainer {
    text-align: center;
    text-wrap: normal;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.nextbutton {
    margin-left: 1820px;
    margin-top: 700px;
    font-size: 20px;
    font-family: "Source Code Pro", sans-serif;
    border: 0;
    border-radius: 10px;
}

.divclass {
    margin-top: -600px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    font-family: "Source Code Pro", sans-serif;
    font-size: 40px;
    list-style: none;
    margin-top: 5px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-content: center;
}

li {
    font-size: 20px;
}